html,
body {
  padding: 0;
  margin: 0;
  font-family: "Radio Canada Big", sans-serif;
  background-color: #09090b; /* Deep rich dark background */
  color: #f4f4f5; /* Light gray text */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
