.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1.5vmin, 1rem, 3vmin);
}

.tile {
  --bg-color: #000000;
  --fg-color: #FFFFFF;
  user-select: none;
  aspect-ratio: 1/1;
  height: clamp(2.5vmin, 14rem, 20vmin);
  font-size: clamp(1.5vmin, 6rem, 3vmin);
  border-radius: .25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--fg-color);
}

.tile__empty {
  opacity: 0;
  cursor: default;
}

.tile__victory {
  background-color: greenyellow;
}

.input {
  font: inherit;
  text-align: center;
  background: transparent;
  border-color: transparent;
}

.btn {
  cursor: pointer;
  border-radius: 0.25rem;
  font: inherit;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.btnMedium {
  padding: 1rem 2rem;
}

.btnSmall {
  aspect-ratio: 1/1;
  padding: 0.5rem 0.75rem;
}

.btnSmall__outline {
  background: transparent;
  border: 1px solid currentColor;
}

.btn__secondary {
  background: transparent;
  border: 1px solid currentColor;
}

.actionWrapper {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.actionWrapper > .btn {
  flex-grow: 1;
}

.moveWrapper {
  display: flex;
  gap: 1rem;
  font-size: clamp(1vmin, 1.5rem, 1.5vmin);
}

.gridSizeWrapper {
  display: flex;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  .tile {
    --bg-color: white;
    --fg-color: black;
  }
}
