.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tile {
  user-select: none;
  aspect-ratio: 1/1;
  height: 200px;
  border-radius: .25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--fg-color);
}

.tile__empty {
  opacity: 0;
  cursor: default;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font: inherit;
}

.btn__secondary {
  background: transparent;
  border: 1px solid currentColor;
}

.actionWrapper {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.actionWrapper > .btn {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .tile {
    --bg-color: white;
    --fg-color: black;
  }
}
